<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/Styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <div class="dashboard-layout">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" asp-page="/index">FisioCare+</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="/About">About</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Paquetecredito">Paquetes de creditos</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Servicios">Servicios</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="main-content-area">
            <header class="dashboard-header">
                <div>
                    <div class="breadcrumb">Pages / <span>Dashboard</span></div>
                    <h1>Dashboard</h1>
                </div>
                <div class="header-controls">
                    <input type="text" placeholder="Type here...">
                    <button class="icon-button" aria-label="Notifications">🔔</button>
                    <partial name="_LoginPartial" />
                </div>
            </header>

            <section class="stats-cards">
                <div class="stat-card stat-card--dark">
                    <div class="card-icon">🛠️</div>
                    <div class="card-content">
                        <a asp-page="/Admin/UsuariosT/Index" class="stat-number">Usuarios</a>
                        <span class="stat-label">Administra a tus Usuarios(Empleados)</span>
                    </div>
                </div>
                <div class="stat-card stat-card--dark">
                    <div class="card-icon">🪙</div>
                    <div class="card-content">
                        <a class="stat-number" asp-page="/Admin/PaquetesCreditosConf/Index">Paquetes de creditos</a>
                        <span class="stat-label">Administra Paquetes de creditos</span>
                    </div>
                </div>
                <div class="stat-card stat-card--dark">
                    <div class="card-icon">💸</div>
                    <div class="card-content">
                        <a class="stat-number" asp-page="/Admin/ServiciosFisioConf/Index">Servicios</a>
                        <span class="stat-label">Administra los servicios de la clinica</span>
                    </div>
                </div>
              @*   <div class="stat-card stat-card--dark">
                    <div class="card-icon">💀</div>
                    <div class="card-content">
                        <a class="stat-number">Perfil</a>
                        <span class="stat-label">Modifica tu Perfil</span>
                    </div>
                </div> *@

            </section>

            @RenderBody()

        </main>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)